.productList{
  flex: 4;
  padding: 20px;
}

.productList__item {
  align-items: center;
  display: flex;
}

.productList__img {
  border-radius: 50%;
  height: 32px;
  margin-right: 10px;
  object-fit: cover;
  width: 32px;
}

.productList__edit {
  background-color: rgb(21, 98, 165);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
}

.productList__delete {
  color: rgb(195, 18, 18);
  cursor: pointer;
}